<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Verificar Orden</title>


	<!-- Bootstrap core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<div th:include="usuario/template_usuario.html::header">

	</div>


	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Viventori <small>Resumen de la orden</small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
			<li class="breadcrumb-item active">Orden</li>
		</ol>

		<!-- Blog Post -->
		<div class="card mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-9">
						<div class="card-body">
							<h5 class="card-title">
								DATOS ORDEN
							</h5>
							<h6 th:text="'Nombre: '+${usuario.nombre}"> </h6>
							<h6 th:text="'Correo: '+${usuario.email}"></h6>
							<h6 th:text="'Dirección: '+${usuario.dirección}"></h6>
							<br>

							<h5 class="card-title">
								PRODUCTOS
							</h5>
							<div class="alert alert-light" role="alert">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Producto</th>
											<th scope="col">Precio</th>
											<th scope="col">Cantidad</th>
											<th scope="col">Total</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="dpedido:${cart}">
											<td th:text="${dpedido.nombre}"></td>
											<td th:text="${dpedido.precio}"></td>
											<td th:text="${dpedido.cantidad}"></td>
											<td th:text="${dpedido.total}"></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>


					<div class="col-lg-3">
						<h2 class="card-title">Resumen Orden</h2>

						<ul class="list-group">
							<li class="list-group-item">
								<h5 th:text=" 'Total: '+ ${pedido.total}"> </h5>
							</li>
							<a href="#" class="btn btn-dark" data-toggle="modal" data-target="#pagoModal">Pagar</a>
							<!--<a th:href="@{/savePedido}" class="btn btn-dark">Generar</a>-->
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal para el pago -->
		<div class="modal fade" id="pagoModal" tabindex="-1" role="dialog" aria-labelledby="pagoModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="pagoModalLabel">Registrar Pago</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="pagoForm" th:action="@{/savePedido}" method="post">
							<div class="form-group">
								<label for="metodoPago">Método de Pago</label>
								<select class="form-control" id="metodoPago" name="metodoPago">
									<option value="Tarjeta">Tarjeta de Crédito/Débito</option>
								</select>
								<form>
									<div class="form-group">
										<label for="cardNumber">Número de tarjeta</label>
										<input type="text" class="form-control" id="cardNumber"
											placeholder="Ingrese el número de tarjeta">
									</div>
									<div class="form-group">
										<label for="cardName">Nombre</label>
										<input type="text" class="form-control" id="cardName"
											placeholder="Ingrese el nombre">
									</div>
									<div class="form-group">
										<label for="expiryDate">Fecha de expiración</label>
										<input type="text" class="form-control" id="expiryDate" placeholder="MM/AA">
									</div>
									<div class="form-group">
										<label for="cvc">CVC</label>
										<input type="text" class="form-control" id="cvc" placeholder="CVC">
									</div>
								</form>
							</div>
							<div class="form-group">
								<label for="montoPago">Monto</label>
								<input type="number" class="form-control" id="montoPago" name="montoPago"
									th:value="${pedido.total}" readonly>
							</div>
							<button type="submit" class="btn btn-primary">Pagar</button>
						</form>
					</div>
				</div>
			</div>
		</div>



		<!-- /.container -->

		<!-- Footer -->
		<div th:include="usuario/template_usuario.html::footer">

		</div>

		<!-- Bootstrap core JavaScript -->
		<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>