<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="es">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Tienda de vinos</title>


	<!-- Bootstrap core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<div th:include="administrador/template_Admin.html::header"></div>
	<!-- Page Content -->
	<div class="container">



		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Gestionar Proveedor <small></small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
			<li class="breadcrumb-item active">Actualizar Proveedor</li>
		</ol>

		<h2>Actualizar Proveedor</h2>
		<form class="form-horizontal" th:action="@{/proveedores/update/{idProveedor} (idProveedor=${proveedor.idProveedor})}" method="post" enctype="multipart/form-data">
			<input type="hidden" name="idProveedor" th:value="${proveedor.idProveedor}">

			<div class="form-group">
				<label class="control-label col-sm-2" for="nombre">Nombre:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="nombre" name="nombre"
						placeholder="Ingrese el nombre del proveedor" required autocomplete="off"
						th:value="${proveedor.nombre}">
					<div ></div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="nombre">Email:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="email" name="email"
						placeholder="Ingrese el email del proveedor" required autocomplete="off"
						th:value="${proveedor.email}">
					<div id="prueba"></div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="cantidad">Telefono:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="telefono" name="telefono"
						placeholder="Ingrese el telefono del proveedor" th:value="${proveedor.telefono}" required
						autocomplete="off">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<button type="submit" class="btn btn-success"> Guardar</button>
				</div>
			</div>

		</form>

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<div th:include="administrador/template_Admin.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>